.b-footer {
    background-color: #f5f5f7;
    padding: 30px 0;

}

.b-condiciones {
    margin: 0px 20%;
    font-size: 13px;
    color: grey;
    position: relative;

    &__item {
        margin: 15px 0;
    }


    &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -30px;
        border-bottom: 1px solid grey;
    }
}

.b-titleMac {
    margin: 40px 20% 5px 20%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.b-directory {

    margin: 0px 20% 20px 20%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.b-footer-info {
    font-size: 12px;
    margin: 0px 20% 20px 20%;

    &__contact {
    position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -10px;
            border-bottom: 1px solid grey;
        }
    }

    &__copyright {
        margin: 25px 0 0px 0;
        display: flex;
        justify-content: space-between;

    }

    &__lastMenu {
        margin: 10px 0;
        display: flex;
        gap: 10px;
        justify-content: flex-start;
    }

}