.b-sectionBannerPresentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 100px 20%;
    text-align: center;

}

.b-button {
    color: black;
    display: flex;
    background-color: white;
    margin: 20px;
    padding: 7px 13px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 4px;

    &--blue {
        background-color: blue;
        color: white;
    }
}

.b-sectionBannerNuevo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #000000;
    padding: 100px 20% 0px 20%;
    margin: 10px 0;
    text-align: center;

    &__buttonAnchor {
        display: flex;
        align-items: center;
    }
}


.b-sectionElegir {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 20% 0px 20%;
    margin: 20px 0;
    text-align: center;
    background-color: #f2f2f2;

    &__tabs {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 12px 0px;
        border-bottom: 1px solid rgb(192, 192, 192);
        position: relative;

        &__item {

            &:after {
                content: "";
                position: absolute;
                width: 50%;
                left: 0;
                bottom: -1px;
                border-bottom: 1px solid rgb(0, 0, 0);
            }
        }
    }

    &__tabla {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;       
            gap: 20px;
        

            &__link {
                width: 100%;
                text-align: center;
                padding: 10px 0;
                margin: 50px;
                position: relative;
                
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -20px;
                    border-bottom: 1px solid rgb(112, 112, 112);
                }
            }

            &__iconWithImage {
                margin: 30px 0px;
            }

        }
    }

}

.b-sectionAccesorios {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    margin: 0px 20px;


    &__boxImg {
    width: 100%;
    height: 600px;
    padding: 60px 50px 0 50px;
    background-color: #f2f2f2;
    background-image: url("https://www.apple.com/v/mac/home/bs/images/overview/retail/accessories_tile__cybkm8f034uq_medium.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat:no-repeat;
    position: relative;

        &__grid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(4, 1fr);
            position: absolute;
            left: 0;
            margin: 74px;
            grid-gap: 17px;

            &__item {
                background-image: url("https://is4-ssl.mzstatic.com/image/thumb/Purple116/v4/27/93/7c/27937c84-fa6a-fc9f-b1e5-e78bb5fc24c0/AppIcon-1x_U007emarketing-0-7-0-85-220.png/454x454.jpg");
            }

        }

        &--otherImage {
            background-image: url("https://www.apple.com/v/mac/home/bs/images/overview/retail/trade_in_mac_tile__d67bvlqow1ua_large.jpg");

        }
        &--otherImage2 {
            background-color: #fafafa;
            background-image: url("https://www.apple.com/euro/mac/home/p/screens_alt/images/overview/mdt/mdt_family__gkejyxsh4p26_large.jpg");

        }

        &--otherImage3 {
            background-color: #fafafa;
            background-image: url("https://www.apple.com/euro/mac/home/p/screens_alt/images/overview/get-more/apple-pay/apple_pay__9nvboo37kn6y_large.jpg");

        }

    }
}

.b-sectionTitle {
    text-align: center;
    padding: 100px 25%;
}

.b-sectionEnvioFinanc {
    padding: 60px 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 40px
}


.b-sectionFullWidth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 20px;
    background-color: #fbfbfb;

    height: 400px;
    background-image: url("https://www.apple.com/euro/mac/home/p/screens_alt/images/overview/ventura/macos_ventura__muyk5ifz9wqm_large.jpg");
    background-size: 50%;
    background-position-y:bottom;
    background-position-x: right;
    background-repeat:no-repeat ;

    &--otherImgBck {
    background-image: url("https://www.apple.com/es/mac/home/images/overview/get-more/apple-gift-card/apple_gift_card_tile__d777mr3okcom_large.jpg");
    }

    &__text {
    width: 40%;
    text-align: center;

    }

}

.b-sectionAppsIntegradas {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 20px;
    padding: 50px 22%;
    background-color: #fbfbfb;
    align-items: center;
    text-align: center;

    &__icons {
        display: flex;
        justify-content: space-around;
        gap: 60px;
        position: relative;

        &:after {
            content: "";
            text-align: center;

            position:absolute;
            width: 100%;
            left: 0px;
            bottom: -13px;
            border-bottom: 1px solid rgb(179, 177, 177);
        }

        &__items {
            position: relative;
            text-align: center;

            &:after {
                content: "";
                position:absolute;
                width: 100%;
                left: 0px;
                bottom: -13px;
                border-bottom: 1px solid rgb(0, 0, 0);
                z-index: 1;
            }
        }

    }

    &__img {
        padding: 40px 0;
        width: 90%;
        position:relative;

        &--line:after {
            content: "xxx";
            position:absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid rgb(0, 0, 0);
            z-index: 1;       
        }
    }

    &__playstore {
        display: flex;
        align-items: center;
        gap: 30px;

        &__text {
            text-align: start;
        }
    }
}

.b-sectionappleServices{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin: 20px 20px;
    padding: 100px 20%;
    background-color: #fbfbfb;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    
        }
}

.b-sectionTV {
    position: relative;
    margin: 30px 0;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: black;
        color: white;
        padding: 40px 30%;
        text-align: center;

        &__links {
            display: flex;
            justify-content: center;
            gap: 30px;
        }
    }   

    &__icon {
        position: absolute;
        width: 40px;
        top: 142px;
        left: 96%;
        background-color: white;
        border: 1px solid white;
        border-radius: 50%;
        z-index: 1;

    }

    &__carrousel {
        background-color: aqua;
        font-size: 40px;
        width: 100%;
        height: 200px;
    }

}

.b-sectionFullWidth-GiftCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 20px;
    padding: 20px;
    background-color: #fbfbfb;

    width: calc(100% - 80px);
    height: 400px;
    background-image: url("https://www.apple.com/es/mac/home/images/overview/get-more/apple-gift-card/apple_gift_card_tile__d777mr3okcom_large.jpg");
    background-size: 60%;
    background-position-y:bottom;
    background-position-x: right;
    background-repeat:no-repeat ;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 40%;
        text-align: center;
    }

}

.b-sectionAppleAtWork {
    color: white;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-image: url("https://www.apple.com/v/mac/home/bs/images/overview/get-more/business__dhhbnntkcwuq_large.jpg");
    height: 500px;
    background-position: center;

    &--EduImage {
    background-image: url("https://www.apple.com/v/mac/home/bs/images/overview/get-more/education__bq047y5fu7n6_large.jpg");

    }

    .a-white {
        color: white;
    }

    }